[submodule "window"]
	path = src/window
	url = git@github.com:cpp-toolbox/window.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:cpp-toolbox/scripts.git
[submodule "src/vertex_geometry"]
	path = src/vertex_geometry
	url = git@github.com:cpp-toolbox/vertex_geometry.git
